﻿@{
    ViewBag.Title = "Home Page";
}

 <br />
  <div class="container">
      <div class="row">
          <div class="col-6 col-sm-6 col-xs-6 col-lg-6 col-md-6" id="MsgBox" style="border-right:1px solid #000;"></div>
          <div class="col-6 col-sm-6 col-xs-6 col-lg-6 col-md-6" id="PBox"></div>
      </div>
  </div>
 

<div class="row">
    <div class="col-md-4">
        <input type="text" id="txtMessage" /><input type="button" value="send" id="btnSend" />
        <input id="file-input" type="file" name="name" style="display: none;" />
        <button id="btnsendImage">send Image</button>
    </div>
</div>

@section scripts
{
    @*Pourrait être dans un Bundle*@
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    @*Ne peux pas être dans un bundle!!!!!!!!*@
    <script src="~/signalr/hubs"></script> @*cfr Startup.cs*@ 
    <script>
        //1- créer ma variable Hub
        const Th = $.connection.chatHub;
        //1.1- ajout du click sur le bouton
        $("#btnSend").on("click", function () {
            let mess = $("#txtMessage").val();
            Th.server.sendMessage(mess);
        });

        $("#btnsendImage").on("click", function ()
        {
            $('#file-input').trigger('click');

        });

        $("#file-input").on("change", function (f)
        {
            var file_data = $('#file-input').prop('files')[0];
            var form_data = new FormData();
            form_data.append('file', file_data);
            $.ajax({
                url: 'http://localhost:55737/api/Data', // point to server-side controller method
                dataType: 'text', // what to expect back from the server
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function (response) {
                    Th.server.sendImage(response);
                },
                error: function (response) {
                    console.log(response); // display error response from the server
                }
            });
            
            
        });

        
        //2- configurer le logging
        $.connection.hub.logging = true;
        //3- abonnement aux méthodes client
        Th.client.getMessage = fnGetMessage;//fonction javascript définie plus bas
        Th.client.getPersonalMessage = fnGetPersonalMessage;//fonction javascript définie plus bas
        Th.client.getImage = fnGetImage;//fonction javascript définie plus bas
        Th.client.getPersonalImage = fnGetPersonalImage;//fonction javascript définie plus bas

        //4- lance ma connection
        $.connection.hub.start()
            .done(//Si tout ce passe bien
                function (data) {
                    console.log(">>> SignalR connecté");
                    console.log(">>> Id de connection :" + data.id);                    
                })
            .fail(//en cas d'erreur lors de la négociation
                function (error) {
                    console.log(">>> SignaR erreur");
                    console.log(">>> erreur :" + error);
                }
            )





        function fnGetMessage(mess) {

            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' + time;

            $("#MsgBox").append("<span >" + mess + "<span><br><i>" + dateTime + "</i>");
            $("#PBox").append("<br>");
            $("#MsgBox").append("<br>");

        }
        function fnGetPersonalMessage(mess)
        {
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' + time;
            $("#PBox").append("<span >" + mess + "<br><i>" + dateTime + "</i><span>");
            $("#PBox").append("<br>");
            $("#MsgBox").append("<br>");
        }

        function fnGetImage(mess) {

            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' + time;

            $("#MsgBox").append("<span ><img src='" + mess + "' width='100px'><span><br><i>" + dateTime + "</i>");
            $("#PBox").append("<br>");
            $("#MsgBox").append("<br>");

        }
        function fnGetPersonalImage(mess) {
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' + time;
            $("#PBox").append("<span ><img src='" + mess + "' width='100px'><span><br><i>" + dateTime + "</i>");
            $("#PBox").append("<br>");
            $("#MsgBox").append("<br>");
        }
        </script>
    }